<Row>
    <Form Model="$Model" OnFinish="Submit">
        <FormItem>
            <Input bind-Value="$Model.Str" />
        </FormItem>
        <FormItem>
            <Button HtmlType="Submit">Submit</Button>
        </FormItem>
    </Form>
</Row>