<Row>
    <Button OnClick="WhatIsMyVariable">What is my variable?</Button>
    <Button OnClick="UpdateVariable">Update Variable</Button>
    <Alert Message="$myVariable"></Alert>
    <Input bind-Value="myVariable" />
</Row>